@font-face {
  font-family: "iconfont"; /* Project id 3951079 */
  src: url("iconfont.woff2?t=1679301490588") format("woff2"),
    url("iconfont.woff?t=1679301490588") format("woff"),
    url("iconfont.ttf?t=1679301490588") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e617";
}

.icon-xiazai:before {
  content: "\e8c6";
}

.icon-fengmian:before {
  content: "\e616";
}

.icon-yujing:before {
  content: "\e628";
}

.icon-jianjie:before {
  content: "\e606";
}

.icon-shengyin:before {
  content: "\e8b8";
}

.icon-qingli:before {
  content: "\e666";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-pinglun:before {
  content: "\e62a";
}

.icon-zhuanfa:before {
  content: "\e6ea";
}

.icon-duigou:before {
  content: "\ebe5";
}

.icon-toutiao:before {
  content: "\e622";
}

.icon-kuaishou:before {
  content: "\e8dc";
}

.icon-douyin:before {
  content: "\e8db";
}
