// 加载图标显示
.loader {
  display: inline-block;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #52c41a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// i 标签不倾斜
i {
  font-style: normal;
}

.top_loading {
  background: #f6ffed;
  border: 1px solid #b7eb8f;
  margin-bottom: 32px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }

  &_c {
    font-size: 14px;

    .el-button {
      width: 334px;
      height: 43px;
      background: #1890ff;
      border-radius: 30px;
      color: #fff;
    }
  }

  &_r {
    font-size: 14px;

    .el-button {
      color: #fff;
      padding: 0 7px;
      margin-left: 15px;
      width: 166px;
      height: 22px;
      background: #1890ff;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
      border-radius: 2px;
    }
  }
}

// 是链接时的样式
.is_link {
  color: #1890ff;
  cursor: pointer;
}

// 链接颜色
.link_color {
  color: #1890ff;
}

// 预警词红色高亮
.warning_red {
  font-size: 14px;
  color: #fff;
  background: #ff4d4f;
  border-radius: 5px;
  padding: 5px;
}
